*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'poppins',sans-serif;

}
:root{
    --bg-color: #fdfdfd;
    --text-color: #333;    
    --text-color: #754ef9;
    --white-color: #fdfdfd;
    --shadow-color: rgba(0,0,0,.2);



}
html{font-size: 62.5;
overflow: hidden;
}

body{
    background: var(--bg-color);
    color: var(--text-color);

}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 7%;
    background:transparent;
    display: flex;
    align-items: center;
    z-index: 100;
}


.logo{
    font-size: 2.5rem;
    color: var(--main-color);
    font-weight: 600;
    cursor: default;
    margin-right: auto;
}

.navbar a {
    position: relative;
    font-size: 1.2rem; 
    color: var(--white-color);
    font-weight: 500;
    margin-right: 1.5rem;

}

.navbar a.active::before{
    content:'';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: .2rem;
    background: var(--white-color);

}
#darkMode-icon{
    font-size: 2rem;
    color: var(--white-color);
    cursor: pointer;
}

section{
    min-height: 100vh;
    padding: 10rem 7% 2rem;
}
.home{
    display: flex;
    align-items: center;
}

.home   .home-content{
    max-width: 44rem;
}
.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
    line-height: .3;
}
.home-content h1{
    font-size: 5.6rem;
    font-weight: 70;
}
.home-content p{
    font-size: 1.6rem;
}
.home-content .social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4;
    height: 4;
    background: blue;
    border: .9rem solid var(--main-color);
    border-radius: 50%;
    box-shadow: 0.2rem .5rem var(--shadow-color);
    font-size: 2rem;
    color:var(--white-color);
    margin: 2.5rem 1.5rem 3rem 0 ;
    transition: .5 ease;

}
 .home-content .social-media a:hover{
    background: var(--white-color);
    color: blue;

 }

 .btn{
    display: inline-block;
    padding: 1.2rem 2.8rem ;
    background: blue;
    border-radius: .6rem ;
    box-shadow: 0.2rem .5rem var(--shadow-color);
    font-size: .8rem;
    color:var(--white-color);
    letter-spacing:0.05;
    font-weight: 400;
    border: .2rem solid transparent;
    transition: .5erse;
 }
 .btn:hover{
    background: #fdfdfd;
    color:blue;
    border-color: blue;
 }

 .home .profession-containar{
    position: absolute;
    top: 40%;
    right: 0%;
    transform: translateY(-50%);
    width: 768px;
    height: 768px;
    
    overflow: hidden;
    pointer-events: none;
}

 .home .profession-containar .profession-box{
    position: absolute;
    top: 0;
    right: 0%;
    width: 768px ;
    height: 768px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

 }
 .home .profession-containar .profession {
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--main-color);
    transform: rotate(calc(360deg /4 * var(--i)));
    transform-origin: 384px;
    background: white;
    padding: 13px 0;
 }
 .home .profession-containar .profession:nth-child(1)i{
    margin: 15px;
 }

.home .profession-containar .profession:nth-child(2),
.home .profession-containar .profession:nth-child(4){
   padding-bottom:20px;
}

.home .profession i{
    font-size: 3.5rem;
 }

 .home .profession h3{
    font-size: 1.8rem;
    line-height: 1;
    font-weight: 600;
 }

 .home .profession-box .circle {
    width: 560px;
    height: 560px;
    border: 3px solid blue;
    border-radius: 50%;

 }

.home .profession-containar .overlay{
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    border-top: 384px blue;    
    border-right: 384px yellowgreen;    
    border-bottom: 384px purple;    
    border-left: 384px red;}